*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    width: 80%;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 10%;
}

.lbl{
    width: 60%;
    align-self: center;
    margin-bottom: 5px;
    color:rgb(22, 94, 153);
    font-size:large;
}
.inp{
    width: 60%;
    align-self: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    font-size: large;
}

.btn{
    width: 10%;
    align-self: center;
    margin-top: 5%;
    padding: 15px;
    border-radius: 10px;
    border: 0px solid black;
    cursor: pointer;
    font-weight:bolder;
}

.btn:hover{
    background-color: black;
    color: antiquewhite;
}

.answer{
    margin-top: 10%;
    align-self: center;
    font-size:xx-large;
    font-weight: bolder;
}